

body{
   background-color: #BB99AA;
   color: white;
   margin:0;
 }

#wrapperDiv{
 background-color: #003129;
 height: 833px;
 width: 800px;
 border: solid black 1px;
 margin:auto;
 margin-top: 20px;

}

#sliderDiv{
  background-color: #125689;
  height: 604px;
  width: 400px;
  border: solid black 1px;
}

#cnv{
  float:left;
}

.sliderValue{
  display: inline;
}
