

body{
   background-color: #BB99AA;
   color: white;
   margin:0;
 }

#sliderDiv{
  background-color: #125689;
  margin-left:20px;
  width: 400px;
  border: solid black 1px;
}

#cnv{
  float:left;
  margin-left:20px;
}

.sliderValue{
  display: inline;
}

.slider{
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
